<<<<<<< HEAD
<h1>Create a New Rating</h1>
=======
<%= display_header(@rating) %>
>>>>>>> updated_master

<%= render partial: 'layouts/errors', locals: {object: @rating} %>

<%= form_for (@rating) do |f| %>
  <% if params[:beer_id] %>
    <%= f.hidden_field :beer_id %>
  <% else %>
    <div>
<<<<<<< HEAD
      <%= f.label :beer_id, "Select a Beer" %>
=======
      <%= f.label "Select A Beer" %>
>>>>>>> updated_master
      <%= f.collection_select :beer_id, Beer.alpha, :id, :beer_and_brewery, include_blank: true %>
    </div>
  <% end %>
  <div>
    <%= f.label :stars %>
    <%= f.number_field :stars, min:0, max:5 %>
  </div>
  <br>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content, size: "25x5" %>
  </div>
    <%= f.submit %>
<% end %>