<% if params[:beer_id] %>
  <h1>Rate <%= @rating.beer.brewery.name %> <%= @rating.beer.name %></h1>
<% else %>
  <h1>Rate A Beer</h1>
<% end %>

<%= render partial: 'layouts/errors', locals: {object: @rating} %>

<%= form_for (@rating) do |f| %>
  <% if params[:beer_id] %>
    <%= f.hidden_field :beer_id %>
  <% else %>
    <div>
      <%= f.label :beer_id, "Select A Beer" %>
      <%= f.collection_select :beer_id, Beer.all, :id, :beer_and_brewery, include_blank: true %>
    </div>
  <% end %>
  <div>
    <%= f.label :stars %>
    <%= f.number_field :stars, min:0, max:5 %>
  </div>
  <br>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content, size: "25x5" %>
  </div>
    <%= f.hidden_field :beer_id %>
    <%= f.submit %>
<% end %>