<!DOCTYPE html>
<html>
  <head>
    <title>DEAD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if logged_in? %>
    <div>
      <%= link_to "Home", user_path(current_user) %><br>
      <%= link_to "Add A Beer", new_beer_path %><br>
      <%= link_to "Rate A Beer", new_rating_path %><br>
      <%= link_to "All Beers", beers_path %><br>
      <%= link_to "All Ratings", ratings_path %><br>
      <%= link_to "Log Out", logout_path, method: :delete %>
    </div>
  <% end %>
    


  <body>
    <%= yield %>
  </body>
</html>
